<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.slivka.githubprojv1" >
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CanvasActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AnotherCanvasActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PreGameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".WifiScanResults"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VoiceStopwatch"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".sendmail.SendMailFromApp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".intentservice.IntentServiceActivity"
            android:label="@string/app_name" >
        </activity>
        <service
            android:name=".intentservice.CapitalService"
            android:exported="false" />
    </application>

</manifest>
